<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Reports">
	<listeners>
		<listener class-name="by.htp.listener.CustomListener" />
	</listeners>

	<test name="OneWayTest">
		<classes>
 			<class name="by.htp.testCases.TestOneWay" />
		</classes>
 	</test> 
</suite>